.input {
  width: 70%;
  height: 50px;
  background: none;
  border: 1px solid transparent;
  background: #0f171d;
  box-shadow: inset 5px 5px 15px #00000094;
  border-radius: 15px;
  color: #fff;
  padding: 0 15px;
  font-weight: 600;
  margin-top: 30px;
  outline: 0;
}
.input:focus {
  border: #00a8d2 1px solid;
}
.inputError {
  border: 1px solid red;
}
.input:disabled {
  opacity: 0.5;
}
