.container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border: #515151 solid 1px;
    background-color: #141414;
    border-radius: 30px;
    color: #fff;
    margin: 0 auto;
}
.container p{
    font-size: 28px;
}