.container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  border: #ffffff17 solid 1px;
  border-bottom: #000 solid 1px;
  border-right: #000 solid 1px;
  box-shadow: 5px 5px 15px #00000070;
  background: linear-gradient(315deg, #090f14, #0f171d);
  border-radius: 25px;
  color: #fff;
  margin: 0 auto;
}
.container p {
  font-size: 28px;
}
