.groupsBtn {
  width: 100%;
  position: absolute;
  bottom: 15px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.btns {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #00a8d2, #00718e);
  box-shadow: 0 0 15px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show 0.5s forwards;
}
.delete {
  background: linear-gradient(180deg, #e31313, #b30d0d);
  box-shadow: 0 0 15px #000;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show 0.5s forwards;
}
